<form name="mForm" ng-submit="vm.createMember()" class="p-lg form-horizontal">
<fieldset>
<div class="row 2nd-layer-popup">
		<div class="col-lg-2"></div>
        <div class="col-lg-8">
			<h2 translate>Change Status</h2>
            <div class="form-group">
                <div class="col-lg-8">
				<h4>NAME CHECK STATUS</h4>{{radioModelName}}
					<div class="btn-group">
						<label class="btn btn-outline btn-danger dim" ng-model="radioModelName" uib-btn-radio="'UNVERIFIED'" ng-click="changeNameStatus()" >UNVERIFIED</label>
						<label class="btn btn-outline btn-warning dim" ng-model="radioModelName" uib-btn-radio="'NEED_REVIEW'" ng-click="changeNameStatus()">NEED REVIEW</label>	
						<label class="btn btn-outline btn-primary dim" ng-model="radioModelName" uib-btn-radio="'VERIFIED'" ng-click="changeNameStatus()">VERIFIED</label>
					</div>
           		 </div>
            </div>
            
			<div class="form-group">
			<div class="col-lg-8">
				<h4>PENNY CHECK STATUS</h4>{{radioModelPenny}}
					<div class="btn-group">
						<label class="btn btn-outline btn-danger dim" ng-model="radioModelPenny" uib-btn-radio="'UNVERIFIED'" ng-click="changePennyStatus()">UNVERIFIED</label>
						<label class="btn btn-outline btn-warning dim" ng-model="radioModelPenny" uib-btn-radio="'NEED_REVIEW'" ng-click="changePennyStatus()">NEED REVIEW</label>	
						<label class="btn btn-outline btn-primary dim" ng-model="radioModelPenny" uib-btn-radio="'VERIFIED'" ng-click="changePennyStatus()">VERIFIED</label>
					</div>
           		 </div>
             </div>
               
             <div class="form-group">
			<div class="col-lg-8">
				<h4>OWNERSHIP STATUS</h4>{{radioModelKyc}}
					<div class="btn-group">
						<label class="btn btn-outline btn-danger dim" ng-model="radioModelKyc" uib-btn-radio="'UNVERIFIED'" ng-click="changeKYCStatus()">UNVERIFIED</label>
						<label class="btn btn-outline btn-warning dim" ng-model="radioModelKyc" uib-btn-radio="'NEED_REVIEW'" ng-click="changeKYCStatus()">NEED REVIEW</label>	
						<label class="btn btn-outline btn-primary dim" ng-model="radioModelKyc" uib-btn-radio="'VERIFIED'" ng-click="changeKYCStatus()">VERIFIED</label>
					</div>
           		 </div>
             </div>
			
			<div class="modal-footer">
				<button class="btn btn-default" type="button" ng-click="cancel()" id="Close" name="Close" translate>OK</button>
			</div>
			
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>
</fieldset>
</form>