<form name="mForm" class="p-lg form-horizontal">
<fieldset>
    <div class="row 2nd-layer-popup">
        	<div class="col-lg-2"></div>
        	<div class="col-lg-8">
			<h2 translate>lblResetPassword</h2>
			<br>
            <div class="form-group">
                <label class="col-sm-4 control-label" translate>ID</label>
                <div class="col-sm-4">
					<div class="row" ng-class="{ 'has-error': mForm.dstMemGuid.$invalid }">
						<input  name="dstMemGuid" required ng-model="vm.assForm.dstMemGuid" type="text" class="form-control">
						<p class="help-block" ng-if="mForm.dstMemGuid.$error.required && mForm.dstMemGuid.$dirty">Merchant Id is required</p>
					</div>
				</div>
			</div>
            <div class="form-group control-label"  >
                <label class="col-sm-4 control-label" translate>E-mail address</label>
                <div class="col-sm-3">
					<div class="row" ng-class="{ 'has-error': mForm.preAddress.$invalid }">
							<input  ng-disabled = true 
							name="preAddress" required 
							ng-model="vm.assForm.preAddress" 
							type="text" class="form-control">
					</div>
				</div>
				<div class="col-sm-1" >
					@
				</div>
	
			    <div class="col-sm-2" ng-show="isSelect">
					<div class="row" ng-class="{ 'has-error': mForm.siteAddress.$invalid }">
							<select
							required
							class="form-control"
							 ng-disabled = true
							>
							<option value=""></option>
							<option value="naver.com">naver.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="daum.net">daum.net</option>
							</select>
					</div>
				</div>
				<div class="col-sm-2"  ng-hide="isSelect">
					<div class="row" ng-class="{ 'has-error': mForm.siteAddress.$invalid }">
						<input  ng-disabled = true  name="siteAddress" required ng-model="vm.assForm.siteAddress" type="text" class="form-control">
					</div>
				</div>
			    <div class="col-sm-2">
					<button ng-disabled=true ng-click="vm.directInput()">직접입력</button>
				</div>
			 </div>
			 <p style="color:red" class="control-label"> 
				<span><label> * 비밀번호 변경확인 메일 지정 서비스 오픈 준비 중 </label></span>
			</p>
			 
			<div class="row">
				<div class="hr-line-dashed"></div>
				<div class="col-sm-8"></div>
				
					<div class="form-group pull-right">
					<div class="modal-footer">
						<button type="button" ng-disabled="mForm.dstMemGuid.$invalid" class="btn btn-danger" ng-click="vm.resetPassword(vm.assForm)" translate>Reset</button>
						<!-- <button type="submit" class="btn btn-primary" ng-disabled="mForm.$invalid" translate>lblSubmit</button>
						<button class="btn btn-warning" type="button" ng-click="cancel()" id="Close" name="Close" translate>Cancel</button> -->
					</div>
				</div>
			</div>
        </div>
        
        
        
        <div class="col-lg-4">
			<div class="alert alert-success" ng-if="resetPasswordSuccess">
				<p translate>lblResetPassword</p>
				ID : {{procceedID}}
			</div>
        </div>
		<div class="col-lg-4">
 </div>
 </div>
</fieldset>
</form>