<div class="ibox no-margins">
    <div class="ibox-title">
        <h5 translate>lblTransactionSearch</h5>
    </div>
    <div class="ibox-content">
        <form class="form-horizontal" name="vm.advSearchForm" ng-submit="vm.advSearch()">
        	<div class="row">
        		<div class="alert alert-warning" ng-if="invalidAdvSearch">
					<span translate>Enter one value for search</span>
				</div>
					
        	
        	</div>
        	<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-lg-4 control-label" translate>lblDstGuid</label>
						<div class="col-lg-8">
							<input type="text" placeholder="DstGuid" class="form-control" ng-model="vm.trans.dstMemGuid">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 control-label" translate>lblTID</label>
						<div class="col-lg-8">
							<input type="text" placeholder="tid" class="form-control" ng-model="vm.trans.tid">
						</div>
					</div>
					
				</div>
				<div class="col-sm-4">
					<!-- position changed -->
					<div class="form-group">
						<label class="col-lg-4 control-label" translate>lblTransDate</label>
						<div class="col-lg-8">
							<input date-range-picker class="form-control date-picker" type="text" ng-model="vm.rangeDate"/>
						</div>
					</div>
				<!-- 	<div class="form-group">
						<label class="col-lg-4 control-label" translate>lblRefId</label>
						<div class="col-lg-8">
							<input type="text" placeholder="RefId" class="form-control" ng-model="vm.trans.refId">
						</div>
					</div> -->
					<!--// position changed -->
					
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-disabled="vm.advSearchForm.trnsctnTp.$invalid" translate>lblSearch</button>
						</div>
						<!-- <div>
							<span style="color:red" class="col-lg-8 control-label" translate>lblTypeRequired</span>
						</div> -->
						</div>
				</div>
            </div>
        </form>
    </div>
</div>