<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 translate>lblSmsService</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-5">
        	<div class="panel panel-default">
				<div class="panel-heading lbl-heading">
					<span translate>lblSmsServiceTitle</span>
					<div ng-if="loadDataForm" class="sk-spinner sk-spinner-circle pull-right">
						 <div class="sk-circle1 sk-circle"></div>
						 <div class="sk-circle2 sk-circle"></div>
						 <div class="sk-circle3 sk-circle"></div>
						 <div class="sk-circle4 sk-circle"></div>
						 <div class="sk-circle5 sk-circle"></div>
						 <div class="sk-circle6 sk-circle"></div>
						 <div class="sk-circle7 sk-circle"></div>
						 <div class="sk-circle8 sk-circle"></div>
						 <div class="sk-circle9 sk-circle"></div>
						 <div class="sk-circle10 sk-circle"></div>
						 <div class="sk-circle11 sk-circle"></div>
						 <div class="sk-circle12 sk-circle"></div>
					 </div>
				</div>
				<div class="panel-body">
					<div class="row">
                        <div class="col-sm-12">
							<form role="form" name="smsForm" ng-submit="vm.smsSend()">
								<div class="form-group" ng-class="{ 'has-error' : smsForm.numbersToReceiveCSV.$invalid && !smsForm.numbersToReceiveCSV.$pristine }"><label translate>lblTo</label>&nbsp;<small>(Ex: 01089789087, 01089768978)</small> 
									<input tabindex="1" required type="text" name="numbersToReceiveCSV" ng-model="vm.smsForm.numbersToReceiveCSV" placeholder="Enter Phone number" class="form-control">
									<p ng-show="smsForm.numbersToReceiveCSV.$invalid && !smsForm.numbersToReceiveCSV.$pristine" class="help-block">Not valid Phone number!</p>
								</div>
								<div class="form-group"><label translate>lblTitle</label>
									<input tabindex="1" type="text" name="title" ng-model="vm.smsForm.title" placeholder="Enter Title" class="form-control">
									<p ng-show="smsForm.title.$invalid && !smsForm.title.$pristine" class="help-block">Not valid title!</p>
								</div>
								<div class="form-group" ng-class="{ 'has-error' : smsForm.message.$invalid && !smsForm.message.$pristine }"><label translate>lblContent</label> 
									<textarea class="form-control" required name="message" ng-model="vm.smsForm.message" placeholder="Enter Content"></textarea>
								</div>
								<div>
									<button tabindex="4" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-disabled="smsForm.$invalid"><strong translate>lblSend</strong></button>
								</div>
							</form>
						</div>
                    </div>
					<div class="row">
						<div class="alert alert-success" ng-if="sendSuccess">
							Well done!
						</div>
					</div>
				</div>
			</div>            
        </div>
        <div class="col-lg-7">
        	<div class="panel panel-default">
				<div class="panel-heading lbl-heading">
					<span translate>History</span>
				</div>
				<div class="panel-body no-padding">
					<table class="table table-striped table-bordered table-hover">
				        <thead>
				        <tr>
				        	<th>Phone</th>
							<th>Content</th>
							<th>Date</th>
							<th>Status</th>
				        </tr>
				        </thead>
				        <tbody>
				        <tr>
				        	<td>1234</td>
							<td>content1</td>
							<td>2016.08.29 12:22:01</td>
							<td><span class="label label-success">SUCCESS</span></td>
				        </tr>
						<tr>
				        	<td>1234</td>
							<td>content2</td>
							<td>2016.08.29 12:22:01</td>
							<td><span class="label label-danger">FAILED</span></td>
				        </tr>
				        </tbody>
				    </table>
				</div>
			</div>            
        </div>
    </div>
</div>