<div class="cg-notify-message inspinia-notify" ng-class="$classes" ng-controller="PopUpCtrl as vm" >
    <div class="p-lg">
        <div ng-show="!$messageTemplate" ng-mouseenter="vm.stop">
           <span><label> {{$message}} </label></span> 
           
            <!-- <span> <button ng-click="vm.getPreviousAdmin()" class='btn btn-sm btn-default'> 이동 </button></span> -->
            
            <span ng-click="vm.getPreviousAdmin()"  class="pg-link show-cursor pull-right text-gray" > 이동 </span>
        </div>
		
        <div ng-show="$messageTemplate" class="cg-notify-message-template">

        </div>

        <button type="button" class="cg-notify-close" ng-click="$close()">
            <span aria-hidden="true">&times;</span>
            <span class="cg-notify-sr-only">Close</span>
        </button>
    </div>

</div>