<div>
	<h1> 상세목록 </h1>
</div>
<div class="row">
	<form>
		<div class="col-lg-3">
			<button  class="btn btn-sm btn-primary  no-margins" ng-click="vm.goBack()"> 뒤로 </button>
			<label ng-click="vm.goBack()"> 예수금  (
				{{vm.rangeDepostDetails.startDate}} ~ {{vm.rangeDepostDetails.endDate}} ) </label> >> 상세조회
				  
			<!-- <button ng-click="vm.getTableButtons()">ttt</button> -->
			
		</div>	
		<div ng-if="vm.loadDataForm" class="sk-spinner sk-spinner-circle pull-left">
			 <div class="sk-circle1 sk-circle"></div>
			 <div class="sk-circle2 sk-circle"></div>
			 <div class="sk-circle3 sk-circle"></div>
			 <div class="sk-circle4 sk-circle"></div>
			 <div class="sk-circle5 sk-circle"></div>
			 <div class="sk-circle6 sk-circle"></div>
			 <div class="sk-circle7 sk-circle"></div>
			 <div class="sk-circle8 sk-circle"></div>
			 <div class="sk-circle9 sk-circle"></div>
			 <div class="sk-circle10 sk-circle"></div>
			 <div class="sk-circle11 sk-circle"></div>
			 <div class="sk-circle12 sk-circle"></div>
		 </div>
	</form>
</div>
<div class="row">
	<form class="ul-custom">
		<div class="form-horizontal">
			<!-- <table class=" table table-striped table-bordered table-hover"> -->
			<table lazy-load datatable="ng" dt-options="vm.dtOptionsMember" class="table table-striped table-bordered table-hover">
				<thead>
					<th>#</th>
					<th>TID</th>
					<th>GUID </th>
					<!-- <th>멤버명</th> -->
					<th>거래일자</th>
					<th>거래내용</th>
					<th>거래타입</th>
					<th>거래금액</th>
					<th>잔액</th>
				</thead>
				<tbody>
					<tr ng-repeat="task in vm.depositDetailList" )>
						<td>{{$index}}</td>
						<td>{{task.tid}}</td>                                   <!-- TID  -->
						<td>{{task.guid}}</td>               <!-- 거래일자  -->
						<!-- <td>{{task.name}}</td> -->                                   <!-- TID  -->
						<td>{{task.tDate}}</td>               <!-- 거래일자  -->
						<td>{{task.tContents}}</td> 							<!-- 거래내용 -->
						<td>{{task.tType}}</td> 	                        	<!-- 거래타입 -->
						<td>{{task.tAmount | currency: "" : 2}}</td>            <!-- 금액   -->
						<td>{{task.tResultAmount | currency: "" : 2}}</td>            <!-- 금액   -->
					</tr>
				</tbody>
			</table>
		</div>
		
	</form>
	<div><button  class="btn btn-sm btn-primary  no-margins" ng-click="vm.loadDetailMore()">더보기</button></div>
</div>